apiVersion: v1
kind: Service
metadata:
  name: {{ APP_NAME }}-backend-{{ ENV.ENVIRONMENT }}
  namespace: {{ K8S_NAMESPACE }}
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: {{ APP_NAME }}-backend-{{ ENV.ENVIRONMENT }}
  type: ClusterIP