apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ APP_NAME }}-app-config-{{ ENV.ENVIRONMENT }}
  namespace: {{ K8S_NAMESPACE }}
  labels:
    app: {{ APP_NAME }}
data:
{% for key, value in ENV.items()|sort %}
  {{ key }}: '{{ value }}'
{% endfor %}
